body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background for a futuristic feel */
  color: #fff; /* Light text for contrast */
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
  color: #64a8d6; /* Light blue color for the title */
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section.project {
  margin-bottom: 20px;
  border: 1px solid #333; /* Darker border */
  padding: 20px;
  border-radius: 10px; /* Slightly rounded corners for a modern touch */
  background-color: #1c1c1c; /* Dark background */
  box-shadow: 0 0 15px rgba(100, 168, 214, 0.5); /* Soft blue shadow for a subtle futuristic effect */
  transition: box-shadow 0.3s ease;
  width: calc(30% - 20px); /* Adjusted width */
  margin: 20px;
}

section.project:hover {
  box-shadow: 0 0 20px rgba(100, 168, 214, 0.8); /* Increased shadow on hover */
}

section.project h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #64a8d6; /* Light blue color for headings */
}

section.project p {
  margin-bottom: 15px;
  color: #ccc; /* Light gray text */
}
